.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  z-index: -1;
  transition: 1s;
}

.modal-overlay-show {
  background: rgba(252, 213, 186, 0.8);
  z-index: 1000;
}

.modal {
  transform: translateY(-1000%);
  padding: 0 80px;
  max-width: 420px;
  max-height: 431px;
  background: #ffffff;
  box-shadow: 8px 16px 32px rgba(255, 102, 51, 0.2);
  border-radius: 4px;
  transition: 1s;
}

.modal-show {
  transform: translateY(0);
}

.popup .modal-overlay .modal {
  position: relative;
}
.popup .modal-overlay .modal .popup__content .popup__exit {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: #f3f2f1;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}
.popup .modal-overlay .modal .popup__content .popup__title h1 {
  padding: 32px 80px 32px;
  text-align: center;
}
.popup .modal-overlay .modal .popup__content .popup__input form input {
  width: 260px;
  height: 60px;
  border-radius: 4px;
  box-shadow: 4px 8px 16px rgba(112, 192, 91, 0.2);
  border: 1px solid #70c05b;
  background: #ffffff;
  outline: none;
}
.popup .modal-overlay .modal .popup__content .popup__btn {
  padding: 32px 0;
}
.popup .modal-overlay .modal .popup__content .popup__btn button {
  width: 260px;
  height: 68px;
  background: #fcd5ba;
  border-radius: 4px;
  border: none;
}
.popup .modal-overlay .modal .popup__content .popup__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
.popup .modal-overlay .modal .popup__content .popup__footer .registration h3 {
  padding: 4px 8px;
  border: 1px solid #70c05b;
  border-radius: 4px;
  cursor: pointer;
}
.popup .modal-overlay .modal .popup__content .popup__footer .password {
  cursor: pointer;
}