section.shower {
    height: 200px;
    background-color: #F9F4E2;
    background-image: url("../images/shower.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

        h1 {
            color: #414141;
            font-weight: 700;
            font-size: 48px;
            margin-left: 388px;
            padding-top: 64px;
            width: 751px;
        }
}