.particles {
  position: absolute;
  z-index: 1;
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
}

.particles-blue {
  left: 100%;
  top: 0;
}

.particles-red {
  left: 60px;
  top: 100%;
}

.particles-green {
  right: 100%;
  top: 0;
}

.particles-orange {
  left: 100%;
  top: 100%;
}

.particles-blue-little {
  bottom: 30%;
  left: 45%;
  max-width: 50px;
}

.particles-red-little {
  max-width: 40px;
  top: 18%;
  right: 40%;
}

.particles-green-little {
  max-width: 40px;
  top: 100%;
  left: 60%;
}

.particles-orange-little {
  top: 15%;
  right: 20%;
  max-width: 50px;
}

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 120px;

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
  }

  &__main-block {
    flex: 0 1 65%;
    position: relative;
    z-index: 2;
  }

  &__main-text {
    font-size: 24px;
    color: #FF6633;
    font-weight: bold;
    margin-top: 16px;
    max-width: 560px;
    line-height: 36px;
  }

  &__main-wrapper-img {
    flex: 0 1 35%;
    min-height: 100%;
    position: relative;
    z-index: 1;
    // background: url(../img/about.png);
    // background-position: right;
    // background-repeat: no-repeat;
  }

  &__main-img {
    width: 660px;
    // height: 100%;
    object-fit: cover;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    column-gap: 60px;
    row-gap: 25px;
    padding-left: 35px;
    position: relative;
    z-index: 5;
  }

  &__description-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 16px;
    position: relative;
    flex: 0 1 33.333%;
  }

  &__description-img {
    position: absolute;
    top: 0;
    left: -35px;
  }

  &__description-title {
    font-size: 20px;
  }

  &__description-subtitle {
    font-size: 24px;
    font-weight: bold;
    margin-top: auto;
  }

  &__thanks {
    display: flex;
    align-items: center;
    column-gap: 80px;
  }

  // &__thanks-wrapper-logo {}

  &__thanks-logo {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__thanks-block {
    padding: 34px 40px;
    color: #70C05B;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    position: relative;
    background-color: #E5FFDE;

    &::after {
      content: '';
      position: absolute;
      right: 100%;
      top: 28px;
      border-right: 40px solid #E5FFDE;
      border-bottom: 40px solid transparent;
    }
  }
}