@import "../main.scss";
/* --------------------------------- */
header {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  padding: 16px 0;
  z-index: 1000;
  background-color: $surface;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  .header {
    @include flexbox(row, space-between, center);
    gap: 10px;
    align-items: center;
    .logotype {
      @include flexbox(row, space-between, center);
      gap: 11.41px;
      a {
        text-transform: uppercase;
        font-weight: 700;
      }
    }
    .catalog {
      @include flexbox(row, space-between, center);
      gap: 10px;
      padding: 8px;
      border-radius: 4px;
      background-color: $secondary;
      .linksToCatalog {
        color: $primary-text;
      }
    }
    .navigation {
      @include flexbox(row, space-between, center);
      gap: 24px;
      .nav {
        @include flexbox(column, space-between, center);
        gap: 8px;
        img {
          transition: 0.3s;
          &:hover {
            transform: scale(1.3);
          }
        }
      }
    }
    .user {
      @include flexbox(row, space-between, center);
      gap: 10px;
      h3 {
        cursor: pointer;
      }
    }
  }
}
/* --------------------------------- */
.nav__footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 8px 0;
  z-index: 100;
  background-color: $surface;
  .nav__item__footer {
    @include flexbox(row, space-between, center);
    gap: 5px;
    .nav__item {
      @include flexbox(column, space-between, center);
      gap: 4px;
    }
  }
}
/* --------------------------------- */
.breadcrumb {
  @include flexbox(row, flex-start, center);
  gap: 16px;
  padding: 120px 0 30px;
  .active {
    color: $hard;
  }
}
/* --------------------------------- */
.goods__title {
  h1 {
    padding-bottom: 40px;
  }
}
.product__config {
  @include flexbox(row, flex-start, center);
  padding: 16px 0 0;
  gap: 24px;
  .star {
    @include flexbox(row, flex-start, center);
    gap: 4px;
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      text-decoration: underline;
    }
  }
  .share {
    @include flexbox(row, flex-start, center);
    gap: 8px;
  }
  .like {
    @include flexbox(row, flex-start, center);
    gap: 9px;
  }
}
/* --------------------------------- */
.product {
  @include grid(2, 1fr);
  gap: 60px;
  padding: 32px 0 80px;
  .product__info {
    .product_prices {
      @include flexbox(row, space-between, center);
      .product_prices_left,
      .product_prices_right {
        @include flexbox(column, space-between, center);
        gap: 6px;
        p {
          color: $hardest;
        }
        h5 {
          color: $hardest;
        }
      }
    }
    .product__btn {
      @include flexbox(row, center, center);
      padding: 16px 0 24px;
      button {
        width: 279px;
        height: 60px;
        @include flexbox(row, center, center);
        gap: 30px;
        color: white;
        background: #ff6633;
        border-radius: 4px;
        border: none;
        outline: none;
      }
    }
    .product__info {
      @include flexbox(row, flex-start, center);
      gap: 100px;
      padding: 4px 0 4px 8px;
      .info {
        @include flexbox(column, flex-start, start);
        gap: 4px;
      }
    }
  }
}
/* --------------------------------- */
.good__cards {
  @include flexbox(row, space-between, center);
  gap: 40px;
  .good__item {
    margin-bottom: 60px;
    max-width: 272px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: $surface;
    transition: 0.3s;
    .new_star {
      img {
        width: 16px;
        display: inline;
      }
    }
    &:hover {
      box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
      border-radius: 4px;
    }
    .img {
      width: 100%;
    }
    h4 {
      padding: 8px 0 24px 8px;
    }
    p {
      max-width: 256px;
      padding-left: 8px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .new_star {
      padding: 8px;
    }
    .new_btn {
      border: 1px solid $secondary;
      border-radius: 4px;
      width: 94%;
      padding: 8px;
      background-color: transparent;
      margin: 0px 8px 8px 8px;
      transition: 0.3s;
      &:hover {
        background: $primary;
        color: $surface;
        border-color: $primary;
      }
    }
  }
}
/* --------------------------------- */
#promotion {
  padding: 80px 0 40px;
  .promotion {
    .promotion__title {
      @include flexbox(row, space-between, end);
      .promotion__link {
        @include flexbox(row, space-between, center);
        gap: 8px;
        a {
          color: $hardest;
        }
      }
    }
  }
}
/* --------------------------------- */
#promotion-card {
  .promotion__box {
    @include flexbox(row, space-between, center);
    gap: 40px;
    .promotion__cards {
      position: relative;
      max-width: 272px;
      margin: 0 auto;
      margin-bottom: 60px;
      border-radius: 4px;
      background-color: $surface;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
      transition: 0.3s;
      &:hover {
        border-radius: 4px;
        box-shadow: 4px 8px 16px rgba(255, 102, 51, 0.2);
      }
      .img {
        width: 100%;
        border-radius: 4px;
      }
      .discount {
        position: absolute;
        left: 10px;
        top: 120px;
        padding: 4px 8px;
        border-radius: 4px;
        background: #ff6633;
        color: white;
      }
      .promotion__price {
        @include flexbox(row, space-between, center);
        padding: 8px;
        p {
          color: $light;
        }
      }
      .promotion__text {
        p {
          max-width: 256px;
          padding-left: 8px;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
      .promotion__star {
        padding: 0px 0px 8px 8px;
        display: flex;
        img {
          width: 16px;
        }
      }
      .promotion_btn {
        margin: 0px 8px 8px 8px;
        padding: 8px;
        width: 94%;
        border-radius: 4px;
        border: 1px solid $secondary;
        background-color: transparent;
        transition: 0.3s;
        &:hover {
          background: $primary;
          color: $surface;
          border-color: $primary;
        }
      }
    }
  }
}
/* --------------------------------- */
.show {
  opacity: 1 !important;
  top: 80px !important;
}
/* --------------------------------- */
.wrapper {
  position: fixed;
  top: -300px;
  left: 0;
  right: 0;
  padding: 20px 0 40px;
  width: 100%;
  opacity: 0;
  z-index: -10;
  background: #fff;
  transition: 0.8s ease all;
  .Dropdown {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    gap: 40px;
  }
  .drops {
    @include flexbox(column, space-between, start);
    gap: 30px;
    a {
      transition: 0.2s;
      &:hover {
        color: $primary;
      }
    }
  }
}
/* --------------------------------- */
footer {
  background-image: url(/Assets/images/footer/footer-backround.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(249, 244, 226);
  .footer {
    @include flexbox(row, space-between, center);
    padding: 24px 0 58px;
    .logotype__nav {
      @include flexbox(row, space-between, center);
      gap: 40px;
      ul {
        @include flexbox(row, space-between, center);
        gap: 40px;
      }
    }
    .logotype__social {
      @include flexbox(row, space-between, center);
      gap: 40px;
      .social__logo {
        @include flexbox(row, space-between, center);
        gap: 16px;
      }
      .number {
        @include flexbox(row, space-between, center);
        gap: 10px;
      }
    }
  }
}
/* --------------------------------- */
@media (min-width: 768px) {
  header .header {
    gap: 10px;
  }
  .nav__footer {
    display: none;
  }
  header .header .catalog h2,
  header .header .logotype a {
    display: none;
  }
  .input {
    width: 100%;
  }
  header .header .navigation {
    gap: 16px;
  }
  header .header .logotype a,
  header .header .catalog h2 {
    display: block;
  }
  header .header .navigation {
    gap: 24px;
  }
}
@media (max-width: 1000px) {
  header .header .logotype a,
  header .header .catalog h2 {
    display: none;
  }
  .special__offers {
    flex-direction: column;
  }
}
@media (min-width: 1100px) {
  .input {
    width: 344px;
  }
}
@media (max-width: 768px) {
  header .header .navigation,
  header .header .catalog,
  header .header .user {
    display: none;
  }

  footer .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
  }
  footer .footer .logotype__nav,
  footer .footer .logotype__nav ul,
  footer .footer .logotype__social {
    flex-direction: column;
  }
  footer .footer .logotype__social {
    padding-bottom: 20px;
  }
  header .header .logotype a,
  header .header .catalog h2 {
    display: block;
  }
  .input {
    width: 100%;
  }
  header .header {
    @include flexbox(row, space-evenly, center);
  }
  .nav__footer {
    display: block;
  }
  #delivery .banner img {
    display: none;
  }
  #delivery {
    text-align: center;
  }
  html {
    font-size: 12px;
  }
}
@media (max-width: 400px) {
  header .header .logotype a {
    display: none;
  }
  #delivery .banner {
    padding-left: 0px;
  }
  header .header .logotype a,
  header .header .catalog h2 {
    display: none;
  }
  #articles .articles {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
