// TEXT
.Text_XS {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 150%;
  font-family: "Rubik";
  font-style: normal;
  color: $surface-text;
}

.Text-Bold_XS {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 150%;
  font-family: "Roboto";
  font-style: normal;
  color: $surface-text;
}

.Text_S {
  font-weight: 400;
  font-size: 1rem;
  line-height: 150%;
  font-family: "Rubik";
  font-style: normal;
  color: $surface-text;
}

.Text-Bold_S {
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  font-family: "Rubik";
  font-style: normal;
  color: $surface-text;
}

.Text_M {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  font-family: "Rubik";
  font-style: normal;
  color: $surface-text;
}

.Text-Bold_M {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 150%;
  font-family: "Rubik";
  font-style: normal;
  color: $surface-text;
}

.Text_L {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
  font-family: "Rubik";
  font-style: normal;
  color: $surface-text;
}

.Text-Bold_L {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 150%;
  font-family: "Rubik";
  font-style: normal;
  color: $surface-text;
}

.Text_L2 {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
  font-family: "Rubik";
  font-style: normal;
  color: $surface-text;
}
// TEXT

// HEADER
.Header_M {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 150%;
  font-family: "Rubik";
  font-style: normal;
  color: $surface-text;
}

.Header_S {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 150%;
  font-family: "Rubik";
  font-style: normal;
  color: $surface-text;
}

.Header_L {
  font-weight: 700;
  font-size: 3rem;
  line-height: 150%;
  font-family: "Rubik";
  font-style: normal;
  color: $surface-text;
}

.Header_XL {
  font-weight: 700;
  font-size: 4rem;
  line-height: 150%;
  font-family: "Rubik";
  font-style: normal;
  color: $surface-text;
}

.Header_XS {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  font-family: "Rubik";
  font-style: normal;
  color: $surface-text;
}
// HEADER
