// MAIN Colors
$main-backround: #f4f4f2;
$backround-text: #291e0f;
$surface: #ffffff;
$surface-text: #414141;
$primary: #ff6633;
$primary-text: #ffffff;
$secondary: #70c05b;
$secondary-text: #bfbfbf;
// MAIN Colors

// GRAYSCALE
$lightest: #f3f2f1;
$light: #bfbfbf;
$hard: #8f8f8f;
$hardest: #606060;
// GRAYSCALE

// PALLETE
$succes: #008c49;
$info: #1cb9fc;
$warning: #fca21c;
$error: #d80000;
// PALLETE
